{% extends 'base.html' %} {% block content %}
    
    {% for dessert in recipes %}
      <h1>  {{dessert.recipe_name}}</h1> 
      <br>
        {{dessert.recipe_description}}
        {{dessert.date_submitted}}
        {{dessert.contains_nuts}}
        {{dessert.gluten_free}}
        {{dessert.vegan_friendly}}
    {% endfor %}
     <ul class="collapsible">
     <li>
      <div class="collapsible-header"><i class="material-icons">warning</i>Dietary Information</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">local_dining</i>Equipment Needed</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">list</i>Ingredients</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">timer</i>Method</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>
{% endblock %}
